aws_region   = "us-west-2"
project_name = "album-store"
environment  = "prod"

# after first `terraform apply`, get ECR URLs from outputs and set these:
# api_image    = "<account_id>.dkr.ecr.us-west-2.amazonaws.com/album-store-api:latest"
# worker_image = "<account_id>.dkr.ecr.us-west-2.amazonaws.com/album-store-worker:latest"

api_desired_count    = 4
worker_desired_count = 12
api_cpu              = 1024
api_memory           = 2048
worker_cpu           = 512
worker_memory        = 1024
